@font-face {
  font-family: myFirstFont;
  src: url(https://fonts.google.com/specimen/Overpass);
}

body {
  font-family: myFirstFont;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(216, 12%, 8%);
}

button:focus {
  outline: none;
}

button {
  outline: none;
  border: none;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.Submit {
  padding: 0px;
  width: 90%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
}

#rating-box {
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  border: 2px solid hsl(213, 19%, 18%);
  display: flex;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25vh;
  width: 25%;
  text-align: center;
}

#rating-showcase {
  padding: 0px;
  font-weight: 400;
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 400;
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
}

h1 {
  font-weight: 700;
  font-size: 3vw;
  margin-bottom: 0px;
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 1.2vw;
  color: hsl(217, 12%, 63%);
}

.rating-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 15px;
  background-color: hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
}

.rating-button:hover {
  background-color: hsl(25, 97%, 53%);
  color: black;
}

.Submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: black;
}

.rating-button.active {
  background-color: hsl(0, 0%, 100%);
  color: black;
}

.rating-button.active:hover {
  background-color: hsl(25, 97%, 53%);
  color: black;
}

footer {
  display: flex;
  margin: auto;
  padding: auto;
}
